@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

body {
    margin: 0;
}

a, body, h1, p {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
} 

.container {
    width: 1140px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.background {
    background-color: #EAE5FF;
    height: 139px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    margin-left: 52px;
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: 400;
}

#cover {
    background-image: url(Photoes/dddddd.png);
    height: 680px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}


.cover-content h1 {
    font-size: 64px;
    font-weight: 500;
    margin-top: 0;
}

.cover-content p {
    font-size: 48px;
    font-weight: 400;
    margin-top: 0;
}

.cover-content .buttom {
    font-size: 56px;
    font-weight: 400; 
}

.buttom {
    background-color: #A6A0BF;
    color: white;
    height: 98px;
    width: 590px;
    border-radius: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.buttom:hover {
    background-color: #6A628F;
}

.buttom p {
    font-weight: 300;
    font-size: 56px;
    margin: 0;
    padding: 0;
    
}

.about-as-content h2 {
   font-size: 60px;
   font-weight: 400;
}

.text-about {
    background-color: #F9F8FF;
    width: 684px;
    height: 341px;
    font-size: 35px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-left: 40px;
}

.about-as-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.about-as-text img {
    width: 388.75px;
    height: 311px;
}

.cell1 {
    background-color: #F5F4FA;
    width: 640px;
    height: 199px;   
    font-size: 35px;
    font-weight: 300;    
    border: 15px #D9D9D9 solid; 
    border-bottom: 7.5px  #D9D9D9 solid;
    border-right: 7.5px  #D9D9D9 solid;
    display: flex;
    align-items: center;
    padding-left: 39px;
    border-top-left-radius: 59px;   

}
.cell2 h5 {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 30px;

}

.cell2 p {
    font-size: 35px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0;
}

.cell2 {
    background-color: #F9F8FF;
    width: 640px;
    height: 507px;
    border: 15px #D9D9D9 solid;  
    border-top: 7.5px  #D9D9D9 solid;
    border-right: 7.5px  #D9D9D9 solid;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding-left: 39px;
    border-bottom-left-radius: 59px; 

}

.cell3 {
    background-color: #EAE9F2;
    width: 455px;
    height: 721px;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    border: 15px #D9D9D9 solid;  
    border-left: 7.5px  #D9D9D9 solid;
    border-top-right-radius: 59px; 
    border-bottom-right-radius: 59px; 

}

form input {
    width: 394px;
    height: 60px;
    border-radius: 35px;
    text-align: left;
}

.cell3 form {
    font-weight: 400;
    font-size: 30px;
    text-align: left;
    margin-bottom: 0;
}

.cell3 p {
    margin-bottom: 20px;
}

.cell3 form p {
    margin-bottom:35px;
    margin-top: 0px;
}

.colum {
    display: flex;
    flex-direction: column;
}

.cell {
    display: flex;
    justify-content: center;
    width: 1141px;
}

.card {
    text-align: center;
    width: 255px;
    height: 274px;
    background-color: #EFEDFE;
    border-radius: 17px;


}

hr {
    width: 235px;
}

.text-catalog-30 {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 10px;
}

.card button {
    width: 234px;
    height: 46px;
    background-color: #A6A0BF;
    border-radius: 50px;
    border: 0;
    color: white;
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card button:hover {
    background-color: #6A628F;
}

.text-catalog-23 {
    font-weight: 400;
    font-size: 23px;
    color: #130F79;
}

.text-catalog-23 b {
    font-weight: 400;
    color: #6A56C3;
}

